@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



    
  *  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color:hsla(211, 100%, 70%, 0.75) ;
}

li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
}

.logo {
    cursor: pointer;
    margin: center;
    flex: start;
    width: 150;
    border-radius: 45%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 20px;
    
} 
.nav_links, li, a {
    transition: all 0.3s ease 0s;
}
/* .nav_links, li, a:hover {
    color: greenyellow;
}  */

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, .8);

}

img {
    width: 300px;
    border-radius: 20px;
}

 .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: black;
}

.nav-container {
    display: flex;
    justify-content: end;
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 5px;
    margin: 20px; 
}  


.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 30px;
}

.box-1 {
    
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

.box-2 {
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

.box-3 {
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 10px;
}



 nav menu {color: whitesmoke;
    text-align: right;
    text-shadow: grey 2px 2px 2px;
}


body { 
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: black 1px 1px 1px 1px;
    text-align: center;
    width: 100%
    border
} 

.foot-container {
    display: flex;
    align-items: center;
    justify-content: end;
    border:rgba(0, 136, 169, 1) solid;
    border-radius: 15px;
    margin-top: 100px;
    margin: 25px;
    
}

.foot-1 {
    display: flex;
    flex-direction: column;
    align-content: right;
    color: black;
    margin: 40px;
    list-style: none;
}

.container-js {
    display: flex;
    flex-direction: column;
    text-align: column;
    border: rgba(0, 136, 169, 1) solid;
    border-radius: 20px;
    margin: 30px; 
    padding: 30px;
}